.hamburger {
    display: none;
    width: 52px;
    height: 52px;
    border-radius: 40px;
    padding: 14px;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    order: 3;
    span {
        width: 20px;
        height: 2px;
        background-color: $black;
    }
}