.card-guide {
    border-radius: 50px;
    min-width: 370px;
    max-height: 532px;
    background: $white;
    padding: 12px;
    padding-bottom: 54px;
    overflow: hidden;
    &_large {
        position: relative;
        z-index: 5;
    }
    &__img {
        width: 100%;
        max-height: 384px;
        object-fit: cover;
        border-radius: 40px;
        &_large {
            min-height: 100%;
        }
    }
    &__title {
        @include card--fonts;
        text-align: center;
        margin-top: calc(48px - 12px);
    }
    &__button {
        position: absolute;
        z-index: 10;
        top: 123px;
        left: 43px;
    }
}