@font-face {
    font-family: "RubikBubbles";
    src: url("../fonts/RubikBubbles-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Krona One";
    src: url("../fonts/KronaOne-Regular.ttf");
}


// :root {
//     --font-family: "Krona One", sans-serif;
//     --second-family: "Poppins", sans-serif;
//     --third-family: "Inter", sans-serif;
//     --font3: "Comic Neue", sans-serif;
//     --font4: "Rubik Bubbles", sans-serif;
//     --font5: "Comic Sans MS", sans-serif;
//   }