@media (max-width: 768px){
    .main {
        max-width: 768px;
    }
    .container {
        max-width: 768px;
    }
    .header {
        max-width: 768px;
        &__top {
            grid-template-columns: 64px auto 52px;
            gap: 8px;
        }
        &__inner {
            justify-self: end;
        }
        // &__title-img {
        //     max-width: 720px;
        // }
        &__content {
            &-title {
                margin-bottom: 32px;
            }
        }
    }

    .about {
        &__title {
            font-size: 30px;
        }
        &__descr {
            max-width: 576px;
        }
    }

    .footer {
        &__info {
            flex-direction: column;
            align-items: flex-start;
            &-copyright {
                order: 3;
            }
            &-terms {
                margin: 0;
            }
        }
    }
}